.section {
}
.section_slider {
    .container {
        padding: 0;
        margin: 0;
    }
}

.swiper {
}
.main_slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.section_title {
    position: absolute;
}