@font-face {
    font-family: 'Montserrat-M';
    src: url('../fonts/Montserrat-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'FuturaBookC-R';
    src: url('../fonts/FuturaBookC-Regular.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
}

// h3 .section_title {
//     font-family: 'Montserrat-M';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 20px;
//     letter-spacing: 0.1em;
//     color: $whiteColor;
// }