@font-face {
    font-family: 'Montserrat-M';
    src: url('../fonts/Montserrat-Medium.woff') format('truetype');
}

@font-face {
    font-family: 'FuturaBookC-R';
    src: url('../fonts/FuturaBookC-Regular.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
}