// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1400px;
    }

    @media (max-width: $breakpoint1150) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'FuturaBookC-R', sans-serif;
    &.locked {
        overflow: hidden;
    }
}

.btn {
    background: $blackColor;
    padding: 13px 46px;
}

h3 {
    font-family: 'Montserrat-M', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: $blackColor;
}

h4{
    font-family: 'Montserrat-M', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $whiteColor;
}

h5{
    font-family: 'FuturaBookC-R', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    color: $blackColor;
}

hr{
    width: 45px;
    height: 3px;
    margin: 15px 0;
    background-color: $blackColor;
}
// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
